[*.cs]

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable

# IDE0042: Deconstruct variable declaration
csharp_style_deconstructed_variable_declaration = false
